
<p>
  ようこそ、ながのCAKEへ<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
	会員でない方も商品の閲覧は可能となっておりますが、<br>
	購入には会員登録が必要になります。
</p>
  <div class="row mb-2">
    <h2><strong>新着商品</strong></h2>
  </div>
  <div class="row">

    <% @products.last(4).each do |product| %>
      <div class="col-3 ">
        <table>
          <tr>
            <th><%= attachment_image_tag product, :image, :fill, 200, 200 %></th>
            <th><%= product.name %></th>
            <th>¥<%= product.price %></th>
          </tr>
        </table>
      </div>
    <% end %>
  </div>



    <div class="col-4 d-flex justify-content-end">
     <p><%= link_to "全ての商品を見る>", products_path %></p>
    </div>
  </div>
</div>